/* gloabel atrbuse */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Almarai', sans-serif;
    direction: rtl;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
/* heder navbare */
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 16px 112px 0px 120px;
    direction: rtl;
    align-items: center; 
}
.nav-bar ul li a {

    font-size: 20px;
    line-height: 22px; 
    color: #000000;
    margin-left: 50px;
    position: relative;
}
.nav-bar .logo img {
    width: 79px;
    height: 64px;

}
.active_nav::before {
    content: "";
    width: 100%;
    height: 6px;
    background-color:#F0BE40;
    position: absolute;
    right: 0%;
    bottom: -10px;
    border-radius: 10px;

}
.nav-bar .list-1 li a::after{
    content: "";
    width: 0%;
    height: 6px;
    background-color:#F0BE40;
    position: absolute;
    right: 0%;
    bottom: -10px;
    border-radius: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.nav-bar .list-1 li a:hover::after{
    width: 100%;
}
/* mobike navbare */
.open-menu{
    font-size: 24px;
    display: none;
}
.menuo-mobile{
        height: 100%;
        width: 40%;
        background-color: #3e3e3e;
        width: 260px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100%;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1060;
        transition: all 0.4s;

}
.show-mnuo-mobile {
    right: 0;
}
.close-mnuo {
    margin: 6px 15px;
}
.close-mnuo i{
    font-size: 25px;
    color: #F0BE40;
}

.mobile-navbar {
    display: block;
    text-align: right;
    padding: 20px;
}
.mobile-navbar li {
    margin-bottom: 20px;
    line-height:2.6;
    border-bottom: 1px solid #53585c ; 
}
.menuo-mobile ul li a {
    color: #fff;
}

/* secation main-wrapper */
.main-wrapper {
    width: 100%;
}
.main-back{
    position: absolute;
    top: -45px;
    right: -108px;
    z-index: -1;
}
.wrapper-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.wrapper-content-photo {
    margin-left: 188px;
    position: relative;
}
.wrapper-content-photo .sadow {
    position: absolute;
    bottom: 0;
    right: 0%;
}

.wrapper-content .wrapper-content-text {
    width: 40%;
}
.wrapper-content .wrapper-content-text h2 {
    position: relative;
    font-weight: bold;
    font-size: 50px;
    z-index: 5;
    line-height: 56px;
    margin-bottom: 30px;
}
.wrapper-content .wrapper-content-text h2 .shape {
    position: absolute;
    top: -3%;
    right: -5%;
    width: 70px;
    z-index: -1;
    display: block;
    height: 70px;
    border-radius: 50%;
    background: #F0BE40;
}
.wrapper-content .wrapper-content-text span {
    font-size: 20px;
    margin-bottom: 60px;
    line-height: 156.1%;
}
.wrapper-content-text-but {
    text-align: start;
    margin-top: 60px;
}
.wrapper-content .wrapper-content-text button {
 width: 190px;
 height: 50px;
 background: #F0BE40;
 border-radius: 30px;
 border: none;
 font-weight: 700;
 font-size: 20px;
 line-height: 22px;
 color: #000000;
 cursor: pointer;
 transition: .5s ;
 -webkit-transition: .5s ;
 -moz-transition: .5s ;
 -ms-transition: .5s ;
 -o-transition: .5s ;
}
/* section about me */
.about-me{
    margin-top: 60px;
    display: flex;
    height: 431px;
    background: linear-gradient(180deg, rgba(250, 250, 250, 0.2) 3.61%, #FAFAFA 26.29%, #FAFAFA 59.44%, rgba(250, 250, 250, 0.02) 100%);
}
.card {
   
margin: 107px 276px 174px 0 ;
display: flex;
z-index: 99;
}
fieldset {
    background: #FAFAFA;
    border: 0.5px solid #000000;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 352px;
    height: 150px;
    padding-top: 28px;
    padding-right: 44px;
    margin-left: 180px;
    position: relative;
}
fieldset legend {
    font-size: 15px;
    font-weight: 800;
}
.card span {
    font-size: 20px;
line-height: 25px;
font-weight: 700;
color: #000000;
display: block;
margin-bottom: 29px;

}
.card span i {
    width: 21px;
    height: 25px;
}
fieldset:nth-of-type(1) img{
    position: absolute;
    z-index: -1;
    bottom: -18%;
    right: -7%;

}
fieldset:nth-of-type(2) img{
    transform: rotate(180deg);
    position: absolute;
    z-index: -1;
    top:-23%;
    left: -7%;

}
/* why-twanty */
.why-twanty {
    position: relative;
}
.shap_2,.shap_3,.shap_4,.shap_5{
    position: absolute;
}
.shap_2{
left: 4%;
    top: 66%;
}
.shap_3{
    left: 7%;
    top: 18%;
}
.shap_4{
    left: 0%;
    top: 44%; 
}
.shap_5{
    left: 10%;
    top: 44%;  
}
.why-twanty h2 {
    font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
color: #000000;
margin: 60px 0 40px 0;
}
.why-twanty h2 span {
    color: #F0BE40;
}
.why-twanty .sub-titel {
    font-weight: 700;
font-size: 20px;
line-height: 31px;
text-align: center;
color: #000000;
margin-bottom: 42px;
}
.why-twanty .boxs {
    display: flex;
    justify-content: center;
    padding: 0px 135px 0 195px;
}
.why-twanty .boxs .box {
    text-align: center;
    margin: 0 0 190px;
}
.why-twanty .boxs  .pr {
margin: 0 247px 0 241px;
}
.why-twanty .boxs .box .box-img {
    width: 109px;
    height: 109px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(235, 190, 76, 0.2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.why-twanty .boxs  .pr .box-img  {
    background: rgba(29, 99, 99, 0.2);
}
.why-twanty .boxs .sp .box-img  {
    background: rgba(51, 177, 176, 0.2);
}
.why-twanty .boxs .box .box-img img {
    text-align: center;
}
.why-twanty .boxs .box  p {
    font-weight: 700;
font-size: 20px;
line-height: 22px;
color: #000000;
margin: 20px 0;
}
.why-twanty .boxs .box span {
width: 175px;
 font-weight: 700;
font-size: 15px;
line-height: 23px;
padding: 1px;
color: #000000;
}
/* servises */
.servises , .work {
    width: 100%;
    background: #FAFAFA;
}
.servises h2 {
    font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
color: #000000;
padding: 60px 0 20px;
}
.servises .se-sub-titeli {
 display: block;
 padding: 0px 270px;
 font-weight: 400;
font-size: 20px;
line-height: 156.1%;
text-align: center;
color: #666464;  
margin-bottom: 30px; 
}
.servises .se-cards{
    display: flex;
    justify-content: center;
}
.servises .top-card {
    margin-bottom: 21px;
}
.servises .bootm-card {
    padding-bottom: 140px;
}
.servises .se-cards .se-card {
    width: 246.01px;
height: 236.8px;
background: #F0BE40;
text-align: center;
 padding: 25px 15px 39px;
 margin-left: 28px;
}
.servises .se-cards .re {
    border-radius: 30px 0px;
}
.servises .se-cards .le {
    border-radius: 0px 30px;
}
.servises .se-cards .cn {
    margin-right: 49px;
}

.servises .se-cards .se-card p {
    margin: 15px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}
.servises .se-cards .se-card span {
font-weight: 700;
font-size: 14px;
line-height: 16px;
color: #000000;
}
/* work */
.work {
    position: relative;
    background-image: url(../img/Group\ 15.png);
    background-repeat: no-repeat;
    background-position: -3% 97%;
}
.wo-sahp-1 {
    position: absolute;
    top: 6%;
    right: -2%;
}
.work h2 {
font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
padding: 60px 0 280px;
}
.work .wo-boxs {
    display: flex;
    justify-content: center;
    padding-bottom: 176px;
    z-index: 100;
}
.work .wo-boxs .tr {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.work .wo-box {
    text-align: center;
    margin-left: 30px;
}
.work .wo-box img {
width: 277px;
height: 323px;
border-radius: 20px;
margin-bottom: 20px;
}
.work .wo-box p {
    font-weight: 700;
font-size: 20px;
line-height: 22px;
color: #000000;
}
/* Team */
.team {
    width: 100%;
    text-align: center;
}
.team h2 , .client h2 , .contact h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    margin: 68px 0 31px 0;
   
}
.team .sub-team {
    display: block;
    margin-bottom: 65px;
    font-weight: 700;
font-size: 20px;
line-height: 31px;
    padding: 0 260px ;
}
.te-cards{
    display: flex;
    justify-content: center;
}
.te-card {
    width: 278px;
height: 361px;
background: #FAFAFA;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
border-radius: 15px;
padding: 15px 19px;
text-align: center;
margin-left: 80px;
}
.te-cn {
    margin: 60px 0 ;
}
.te-en {
    margin-bottom: 120px;
}
.te-card img {
    width: 240px;
    height: 238.22px;
    border-radius: 15px;
}
.te-card p {
    font-weight: 700;
font-size: 24px;
line-height: 40px;
}
.te-card span {
    font-weight: 400;
font-size: 20px;
line-height: 40px;
}
/* client */
.client {
    position: relative;
    width: 100%;
text-align: center;
background-repeat: no-repeat;
background-image: url(../img/Rectangle\ 35.png);
}
.client h2 {
    padding: 87px 0 140px 0;
}
.client .img-massg {
    position: absolute;
    top: 5%;
    left: 15%;
    transform: rotate(-11.71deg);
}
.cl-cards{
   width: 85%;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
   margin: 0 auto;
    margin-bottom: 56px;
   
}
.cl-cards::-webkit-scrollbar{
    display: none;
}
.cl-card{
 flex: 0 0 auto;
 width: 331px;
height: 184px;
background: rgba(0, 0, 0, 0.1);
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
border-radius: 15px;
text-align: start;
margin: 0 20px;


}
.cl-card  img{
    margin-top: -18px;
}
.cl-card p {
    font-weight: 400;
font-size: 15px;
line-height: 19px;
padding-right: 39px;
margin-top: -10px;
margin-bottom: 30px;
}
.cl-card:nth-child(2) {
    width: 440px;
height: 244px;
background: #F0BE40;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.cl-card:nth-child(2) p {
    font-weight: 400;
font-size: 17px;
line-height: 22px;
width: 58%;
margin-bottom: 26px;
padding-right: 50px;
}
.fluent_comma {
    padding: 36px 45px 20px 0;
}
.fluent_comma:last-child{
    margin-right: -18px;
}
.cl-ditels{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.cl-ditels img {
   margin-left: 10px;
}
.cl-ditels .cl-name{
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
}
.cl-ditels .cl-job {
    font-weight: 400;
font-size: 15px;
line-height: 17px;
}
.next-btn,.pre-btn {
    border: none;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background: rgba(217, 217, 217, 0.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 55%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next-btn {
    left: 3%;
}
.pre-btn {
    right: 3%;
}
.slid-point {
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slid-point span{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #D9D9D9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: block;
    
}
.slid-point span.active-slider{
    width: 16px;
    height: 16px;
    background: #F0BE40;
}
.slid-point span:nth-child(2){
    margin: 0 5px;
    
}
/* contact */
.contact {
    width: 100%;
    text-align: center;
}
.contact h2 {
    margin-bottom: 60px;
}
.contact-continer{
width: 848px;
height: 435px;
background: #1D6363;
border-radius: 50px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 73px;
}
.contact-form {
    padding: 69px 0 47px ;
}
.contact-continer .contact-form input , .contact-form button {
width: 278px;
height: 50px;
background: #FFFFFF;
border: 0.5px solid rgba(0, 0, 0, 0.2);
border-radius: 12px;
margin-bottom: 19px;
padding: 16px;
}



.contact-form input, .contact-form textarea{
    font-weight: 400;
font-size: 17px;
line-height: 19px;
outline: none;

color: #787878;
}
.contact-form textarea {
    width: 278px;
    height: 121px;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 16px;
}
.contact-form button {
    background-color: #F0BE40;
    color: #FFFFFF;
    cursor: pointer; 
}
.contact-form .button {
    background-color: #F0BE40;
    color: #FFFFFF;
    cursor: pointer; 
}

.contact-form span{
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
}
.contact-form button i {
    height: 15px;
margin-right: 5px;
}
/* footer */
footer {
    width: 100%;
    background: linear-gradient(264.86deg, #1D6363 -11.72%, #239C9B 87.8%);
}
.footer{
 display: flex;
 padding: 60px 40px 40px 100px;
}
footer ul  {
    display: block;
    color: #FFFFFF;
}
footer .location ul li i {
    margin-left: 10px;
    font-size: 24px;
}
footer .location ul li {
    font-weight: 700;
font-size: 20px;
line-height: 22px;
    padding-bottom: 31px;
}
footer .location ul li:nth-child(3){
    direction: ltr;
    font-weight: 400;
font-size: 20px;
line-height: 22px;
color: #EBEBEB;
}
footer .location ul li:nth-child(3) i {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.fo-cent {
    margin: 0 115px;
}
.fo-servise ul li:nth-child(1) a{
font-weight: 700;
font-size: 18px;
line-height: 20px;
color: #FFFFFF;
}
.fo-servise ul li {
padding-bottom: 20px;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #EBEBEB;
}
.fo-servise ul li a{
    color: #EBEBEB; 
}
.fo-twanty{
    width: 35%;
    margin-left: 115px;
}
.fo-twanty ul li:nth-child(2) {
    font-weight: 400;
font-size: 20px;
line-height: 156.1%;
padding: 24px 0 24px;
}
.fo-twanty ul li:nth-child(3){
font-weight: 400;
font-size: 20px;
line-height: 22px;
color: #EBEBEB;
}
.fo-twanty ul li:nth-child(3) i {
    margin-left: 10px;
}
.fo-twanty .social  {
    display: flex;
    margin-top: 29px;
    
}
.fo-twanty .social li:nth-child(3) i {
    margin-left: 0;
}
.fo-twanty .social li { 
    width: 47px;
     height: 47px;
     margin-left: 16px;
     border-radius:50% ;
      background: #FFFFFF; 
     -webkit-border-radius:50% ; -moz-border-radius:50% ; 
     -ms-border-radius:50% ; -o-border-radius:50% ;
     display: flex;
     justify-content: center;
     align-items: center;
}
.fo-twanty .social li a i {
    font-size: 24px;
    color: #000000;
}
.copy-right {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    font-weight: 400;
font-size: 16px;
line-height: 18px;
padding: 12px;
color: #000000;
}
.copy-right span i {
    font-size: 20px;
}
/* servise web disgin */
/* main-content */
.main-conten{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 120px 140px;
    
    position: relative;
    
}
.web-design{
    background-image: url(../img/back_web.png);
    background-repeat: no-repeat;
    background-position: left;
}
.main-conten h2 {
font-weight: 700;
font-size: 40px;
line-height: 45px
}
.main-conten span{
    width: 70%;
    font-weight: 400;
    font-size: 20px;
    display: block;
    line-height: 169.6%;
    margin: 20px 0 100px;
}
.main-conten-text-but button{
width: 190px;
height: 50px;
border-radius: 30px;
border: none;
font-weight: 700;
font-size: 20px;
line-height: 22px;
cursor: pointer;
}
.main-conten-text-but button:nth-child(1){
    background: #F0BE40;
    margin-left: 20px;
}
.main-conten-text-but button:nth-child(2){
    background: rgba(0, 0, 0, 0.0);
    border: 1px solid #F0BE40;
}
.main-conten-text-but button:nth-child(2) img {
    width: 24px;
height: 24px;

}
.img-heading{
    position: relative;
}
.Ellipse{
    position: absolute;
    bottom: -42px;
    right: 0;
}
.back_2{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .6;
}
/* Service Features */
.service-features{
    width: 100%;
    background-image: url(../img/bac-featur.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.service-features h2 {
    font-weight: 700;
font-size: 30px;
line-height: 33px;
text-align: center;
padding: 60px 0;
}
.features-boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 130px;
    padding-bottom: 100px;
}
.features-box {
    width: 33%;
}


.feature{
    text-align: -webkit-center;
    margin-bottom: 50px;
}
.feature-img{
    width: 135px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.responsive{
    background: #33B1B0;
}
.cod_2{
    background: #0074CA;
}
.code{
    background: #4D5E80;
}
.feature span{
    font-weight: 400;
font-size: 20px;
line-height: 169.6%;
}
/* UX/UI page */
.ui{
    background-image: url(../img/hero\ shape\ 8.png);
    background-repeat: no-repeat;
    background-position: left top;
}
.ui-ux{
   padding-top: 0;
   padding-bottom: 60px;
}
.ui-ux .Ellipse {
    bottom: -20px;
    opacity: 0.7;
}
.ui .active_nav::before{
    background-color: #FFFFFF;
}

.ui-ux-servise{
    background: #FAFAFA;
    background-image: url(../img/Group\ 990.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}
.ui-ux-card{
   
    padding: 18px;
    width: 350px;
height: 538px;
}
.ui-ux-card img{
    width: 314px;
height: 283px;
}
.ui-ux-card p {
    font-size: 20px;
    line-height: 165.1%;
    margin: 20px 0;
}
.ui-ux-card span{
    font-size: 17px;
    line-height: 169.6%;
}
/* mobile work pag */
/* main-conten-work */
.main-conten-work {
    width: 100%;
    background-image: url(../img/bac-work.png);
    background-blend-mode: multiply;
    height: 535px;
}
.text-dark {
    padding-top: 140px;
    text-align: center;
}
.main-conten-work h2 {
font-size: 40px;
line-height: 45px;
color: #FFFFFF;
margin-bottom: 24px;
}
.main-conten-work span {
font-size: 20px;
line-height: 169.9%;
color: #FFFFFF;
width: 50%;
    display: inline-block;
}
/* the work */
.the-work{
    background: #FAFAFA;
    height: 564px;
    background-image: url(../img/Ellipse\ 20.png);
    background-repeat: no-repeat;
    background-position: right 50%;
}
.work-cards{
    display: flex;
    justify-content: center;
    padding: 100px 0 ;
}
.work-card {
    width: 371px;
    display: flex;
    background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
border-radius: 12px;
padding: 11px 15px;
align-items: center;

    margin-bottom: 50px;
}
.work-card-top{
   background-image: url(../img/Ellipse\ 48.png);
   background-repeat: no-repeat;
   background-position: 70% 95%;
}
.work-card-bootm{
    margin-right: 110px;
}
.work-card-img{
    margin-left: 38px;
}
.work-card-text {
    padding: 20px 0;
}
.work-card-text p {
    font-weight: 700;
font-size: 20px;
line-height: 40px;
    margin-bottom: 18px;
}
.work-card-text span{
 font-weight: 700;
font-size: 20px;
line-height: 22px;
color: #F0BE40;
}
/* work web design pag */
/*  work web Design  */
.work-web-design{
    background: #FAFAFA;
    padding: 120px 130px;
}
.work-web.main-conten-work span{
    width: 34%;
}
.work-web-design-cards{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
   
}
.work-web-design-card-top{
    margin-bottom: 40px;
}
.work-web-design-card{
    width: 358px;
height: 475px;
background: #FFFFFF;
border-radius: 12px;
padding: 29px;
text-align: center;
margin-left: 50px;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
.work-web-design-card img {
    width: 299px;
height: 257px;
    border: 0.5px solid #33B1B0;
border-radius: 15px;
}
.work-web-design-card p {
font-weight: 700;
font-size: 24px;
line-height: 40px;
color: #000000;
margin: 30px 0 45px;
}

.work-web-design-card span {
font-weight: 700;
font-size: 20px;
line-height: 22px;
color: #F0BE40;
}
/* graphic design */
.graphic{
    background-image: url(../img/bac_graf.png);
    background-repeat: no-repeat;
    background-position: right 50%;
}
/* UI/UX page */
.work-ui-ux{
    background-image: url(../img/ux-shap.png);
    background-repeat: no-repeat;
    background-position: right 36%;
}
.work-ui-ux .work-web-design-card{
    width: 350px;
    height: 377px;
    padding: 18px;
}
.work-ui-ux .work-web-design-cards {
    margin-bottom: 120px;
}
.work-ui-ux .work-web-design-card p {
 font-weight: 400;
font-size: 20px;
line-height: 165.1%;
margin: 20px 0 23px;
}
.work-ui-ux .main-conten-ux-text-but {
    margin: 40px 0;
}
.work-ui-ux .main-conten-ux-text-but button {
    width: 190px;
    height: 50px;
    border: 1px solid #F0BE40;
    border-radius: 30px;
    background: #FFFFFF;
    font-weight: 700;
font-size: 20px;
line-height: 22px;
color: #000000;
cursor: pointer;
}
.ux-cards-bootom {
    margin-bottom: 80px;
}
.but-alt-work {
    text-align: center;
    margin: 150px 0 0px;
}
.but-alt-work button{
    border: none;
    width: 209.72px;
    height: 50px;
    background: #F0BE40;
    border-radius: 30px;
    font-weight: 700;
font-size: 20px;
line-height: 22px;
color: #000000;
}
/* Graphic Design pag */
.main-back-3{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.grafic-pag .wrapper-content-text {
    width: 30%;
    text-align: justify;
    margin-left: -10%;
    margin-bottom: 10%;
}
.graphic .wrapper-content .wrapper-content-text h2 {
    
    color: white;
}
.wrapper-content-text .wrapper-content-text-but .but-company-business {
    background-color: white;
    border: 1px solid #F0BE40;
    margin-right: 15px;
    cursor: pointer;
}
.grafic-pag .wrapper-content-photo {
    position: relative;
    margin-top: -40px;
    margin-right: 90px;
}
.graf-se {
        position: relative;
        background: #FAFAFA;
              margin-top: 8%;
}
.graf-se h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    padding: 60px 0 20px;
}
.graf-se .img-massg-grfc {
    position: absolute;
    top: 9%;
    left: 27%;
}
.why-twanty .img-massg-2 {
    position: absolute;
    top: 50%;
    left: 91%;
}
.why-twanty .img-massg-3 {
    position: absolute;
    top: 78%;
    left: 45%;
}
.why-twanty .img-massg-4 {
    position: absolute;
    top: 31%;
    left: 9%;
}
.box-cotainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box-cotainer .box {
    margin: 1.5rem;
    padding: 1rem;
    width: 410px;
    height: 148px;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Almarai', sans-serif;
}
.box-cotainer .box .image {
    padding: 1rem;
}
.box-cotainer .box .image img {
    width: 66px;
    height: 66px;
}
.box-cotainer .box .content h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
    font-family: 'Almarai', sans-serif;
}
.box-cotainer .box .content p {
    font-size: 15px;
    color: black;
    line-height: 1.4rem;
    font-family: 'Almarai', sans-serif;
}


/* app mobile */
.app-mobile.wrapper-content .wrapper-content-text {
    width: 50%;
    text-align: justify;
    margin-left: 5%;
    margin-top: 80px;
}
.app-mobile.wrapper-content .wrapper-content-text h2,
.app-mobile.wrapper-content .wrapper-content-text span{
    color: #000;
}
.app-mobile .wrapper-content-photo {
    margin-left: 10%;
    position: relative;
}
.main-back-2 {
    position: absolute;
    top: 55%;
    left: 0;
    z-index: -1;
}
.why-twanty-mobile {
    position: relative;
    background-image: url(../img/Rectangle\ 260.png);
}
.work-map{
    display: flex;
    justify-content: center;
    padding: 50px 0 290px;
}
.work-map-mobile{
    display: none;
}
.project-receipt.Stage-1{
    position: relative;
}
.project-receipt.Stage-1::after {
    content: "";
    display: block;
    width: 50px;
    height: 0px;
    transform: rotate(180deg);
    border: 1px dashed;
    position: absolute;
    right: 78%;
    bottom: 34%;
}
.Stage-2{
    display: flex;
    align-items: end;
    transform: translate(61%, 100%);
    -webkit-transform: translate(61%, 100%);
    -moz-transform: translate(61%, 100%);
    -ms-transform: translate(61%, 100%);
    -o-transform: translate(61%, 100%);
}
.why-twanty .work-map .project-receipt.Stage-2 .project-receipt-text,.why-twanty .work-map .project-receipt.Stage-2 .project-receipt-number {
    margin-right: 0;
}
.Stage-2 .project-receipt-img::before {
    content: "";
    display: block;
    width: 72px;
    height: 0px;
    transform: rotate(90deg);
    border: 1px dashed #000000;
    position: absolute;
    left: 0%;
    top: -4%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    stroke-dasharray: '15';
}
.Stage-2 .project-receipt-img::after {
    content: "";
    display: block;
    width: 123px;
    height: 0px;
    transform: rotate(90deg);
    border: 1px dashed #000000;
    position: absolute;
    right: 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.Stage-3 .project-receipt-img{
    transform: translate(24%, 0);
}
.Stage-3-text{
    transform: translateX(-30%);
}
.Stage-3 .project-receipt-img::before {
    content: "";
    display: block;
    width: 76px;
    height: 0px;
    transform: rotate(90deg);
    border: 1px dashed #000000;
    position: absolute;
    left: 0%;
    bottom: -65%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.Stage-3 .project-receipt-img::after {
    content: "";
    display: block;
    width: 70px;
    height: 0px;
    transform: rotate(90deg);
    border: 1px dashed #000000;
    position: absolute;
    right: 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.Stage-4 {
    transform: translate(5%,129%);
    -webkit-transform: translate(5%,129%);
    -moz-transform: translate(5%,129%);
    -ms-transform: translate(5%,129%);
    -o-transform: translate(5%,129%);
}
.Stage-4 .project-receipt-img::before {
    content: "";
    display: block;
    width: 76px;
    height: 0px;
    transform: rotate(90deg);
    border: 1px dashed #000000;
    position: absolute;
    top: -34%;
    right: 7%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.Stage-4 .project-receipt-img::after {
    content: "";
    display: block;
    width: 91px;
    height: 0px;
    transform: rotate(90deg);
    border: 1px dashed #000000;
    position: absolute;
    right: 99%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.Stage-4 .Stage3-text{
    transform: translateX(50%);
}
.Stage-5{
    transform: translate(-45%,-10%);
    -webkit-transform: translate(-45%,-10%);
    -moz-transform: translate(-45%,-10%);
    -ms-transform: translate(-45%,-10%);
    -o-transform: translate(-45%,-10%);
}
.Stage-5 .project-receipt-img::before {
    width: 89px;
    left: -13%;
    bottom: -73%;
}
.Stage-5 .project-receipt-img::after {
    width: 117px;
    right: 110%;
}

.why-twanty .work-map .project-receipt.Stage-4 .project-receipt-text,.why-twanty .work-map .project-receipt.Stage-4 .project-receipt-number {
    margin-right: 0;
}
.Stage-4 .Stage-3-text {
    transform: translateX(50%);
}
.Stage-6 {
    transform: translate(-70%, 120%);
    -webkit-transform: translate(-70%, 120%);
    -moz-transform: translate(-70%, 120%);
    -ms-transform: translate(-70%, 120%);
    -o-transform: translate(-70%, 120%);
}
.Stage-6 .project-receipt-img::after{
    display: none;
}
.Stage-6 .project-receipt-img::before {
    width: 113px;
    height: 0px;
    right: -25%;
    bottom: 186%;
}


/* مرحلة التحليل */
/* .why-twanty .work-map .analysis-stage .line-2{
    position: absolute;
    top: 50%;
    right: 20%;
} */
.project-receipt-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 88px;
    background: #FFFFFF;
    border: 7px solid #F0BE40;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
.why-twanty .work-map .analysis-stage .analysis-stage-number{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-right: 90px;
}
.project-receipt-hed{
    padding-right: 20px;
}



/* new Add */
.work-card-img img{
    width: 110px;
}
.graphic .wrapper-content .wrapper-content-text span {
    color: white;
}
.grafic-pag .wrapper-content-photo{
    margin-left: 0;
}
.header{
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  /* Change background header */
.scroll-header{
    background-color:#2a9291;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
  }

.nav-bar .logo img {
    width: 70px;
    height: 56px;

}

/* Respinsev Disgn {@media} */
/* ipad */
@media(min-width:768px)and (max-width:1024px) {
    .nav-bar{
       padding:  16px 25px 0px 0px;
    }
    .nav-bar ul li a{
        margin-left: 40px;
    }
    .wrapper-content-photo  {
        margin-left: 0;
        width: 50%;
    }
    .wrapper-content-photo img {
        width: 90%;
    }
    .main-back {
        width: 105%;
        top: 0px;
        
    }
    .about-me {
        display: flex;
        height: auto;
        margin-top: 100px;
        justify-content: center;
        }
        .card {
            padding: 12px;
            margin: 0;
        }
        fieldset {
           
            height: 100px;
            padding-right: 20px;
            margin-left: 20px;
            padding-top: 12px;
        }
        fieldset legend {
            font-size: 12px;
        }
        .card span {
            font-size: 12px;
            margin-bottom: 0;
        }    
        .card span i {
            height: 30px;
        }
        .why-twanty .boxs {
            padding: 0;
        }
        .why-twanty .boxs .pr {
            margin: 0 130px 0 130px;
        }
        .servises .se-sub-titeli,.team .sub-team{
                padding: 0px 115px;
        }
        .servises, .work {
            text-align: center;
        }
        .servises .se-cards .se-card{
            margin-bottom: 25px;
        }
        .servises .se-cards {
            display: inline-grid;
        }
        .servises .se-cards .cn {
            margin-right: 0;
        }
        .work .wo-box {
            margin-left: 20px;
        }
        .work .wo-box img{
            width: 95%;
            height: auto;
        }
        .wo-sahp-1 {
            opacity: .9;
            width: 17%;
        }
        .work h2{
            padding-bottom: 240px;
        }
        .te-cards {
        margin-right: 30px;
        }
        .te-card {
            width: 30%;
            height: auto;
            margin-left: 30px;
        }
        .te-card img {
            width: 95%;
            height: auto;
        }
        .client .img-massg {
        left: 25px;
        }
        .contact-continer{
            width: 95%;
        }
        .footer {
            padding: 60px 20px 40px 15px;
        }
        .fo-twanty {
            width: 25%;
            margin-left: 60px;
        }
        .fo-twanty ul li:nth-child(2) {
            font-size: 16px;
            padding: 24px 0 24px;
        }
        .fo-twanty ul li:nth-child(3) {
            font-size: 16px;
        }
        .fo-cent {
            margin: 0px 34px;
        }
        .contact-continer .contact-form input, .contact-form button,.contact-form textarea{
            width: 70%;
        }
        /* our work mobile */
.work-card-bootm {
    margin-right: 50px;
}
/* UI/UX */
.features-boxs{
    padding: 0;
}
.ui-ux-card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.ui-ux-card img{
    width: auto;
}
/* our work graphic  */
.work-web-design.graphic {
    padding: 120px 20px;
}
.graphic .work-web-design-card {
    width: 34%;
    height: auto;
    padding: 8px ;
    margin-left: 12px;
}
.graphic .work-web-design-card img {
    width: 100%;
}
.graphic .work-web-design-card p {
    font-size: 18px;
    margin: 20px 0 20px;
}
/* Servies web design */
.main-conten{
    padding: 60px 20px 140px;
}
 .site-heading {
    margin-top: 90px;
    width: 50%;
}
.main-conten span {
    width: 85%;
    margin-bottom: 60px;
}
 .main-conten-text-but{
    display: inline-block;
}
 .main-conten-text-but button:nth-child(1){
    margin-bottom: 20px;
}
 .img-heading {
    width: 50%;
}
 .img-heading img{
    width: 100%;
}
/* our work UI/UX */
.work-web-design {
    padding: 120px 20px;
}
.work-ui-ux .work-web-design-cards{
    margin-bottom: 40px;
    justify-content: initial;

}
.work-ui-ux .work-web-design-card,.work-web-design-card {
    width: 95%;
    height: auto;
    padding: 10px;
}
.work-web-design-card img {
    width: 100%;
}
.work-web-design-card{
    margin: 0 10px;
}
/* app mobile yosef */
.work-map{
    margin: 10px;
    justify-content: start;
}
.app-mobile.wrapper-content .wrapper-content-text{
    text-align: start;
    margin-right: 5%;
    margin-left: 0;
}

/* Graphic Design
 */
 .grafic-pag .wrapper-content-text{
    width: 50% ;
    text-align: justify;
    margin-left: -20%;
    margin-bottom: 10%;
    margin-top: 90px;

}
.grafic-pag .wrapper-content-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.grafic-pag .wrapper-content-photo {
    width: 50%;
}
.grafic-pag .wrapper-content-photo img {
    width: 100%;
}
.wrapper-content-text-but {
    display: block;
    text-align: start;
   
}
.wrapper-content-text-but button{
    margin-bottom: 15px;
}
.wrapper-content-text .wrapper-content-text-but .but-company-business{
    margin-right: 0;
}
.why-twanty .img-massg-grfc {
    width: 50px;
    margin-top: 25px;
    margin-left: -91px;
}
 .why-twanty .img-massg-3,.work-map{
    display: none;
}
.work-map-mobile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work-map-mobile .project-receipt{
margin-left: 100px;
margin-bottom: 50px;

}
.work-map-mobile .project-receipt-text{
    margin-bottom: 20px;
}
.work-map-mobile .project-receipt-number{
    margin-bottom: 10px;
}
.ap-04{
    margin-left: 0 !important;
}
/* Final Add */
.work-card-bootm {
    margin-right: 12px;
}
.grafic-pag .wrapper-content-text {
    width: 50%;
    text-align: start;
    margin-right: 5%;
     margin-bottom: 0%;
}
.wrapper-content.app-mobile {
    margin-top: 25%;
}


}




/* Respinsev Disgn {@media} */
/* phone */
@media(max-width:767px){
    .nav-bar{
        padding: 14px;
        direction: ltr;
    }
    .nav-bar .list-1{
        display: none;
    }
    .nav-bar .logo img {
        width: 50%;
        height: auto;
    }
    .wrapper-content {
    margin-top: 100px;
    }
    .wrapper-content-photo  {
        margin-left: 0;
        width: 50%;
    }
    .wrapper-content-photo img {
        width: 90%;
    }
    .wrapper-content .wrapper-content-text h2{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .wrapper-content .wrapper-content-text h2 .shape {
        top: 20%;
        right: -7%;
        width: 45px;
        height: 45px;
    }
    .wrapper-content .wrapper-content-text span {
        font-size: 12px;
    }
    .wrapper-content .wrapper-content-text button {
        width: 130px;
        height: 35px;
        font-size: 17px;
    }
    .main-back {
        width: 105%;
        top: 0px;
        
    }
    .about-me {
    display: block;
    height: auto;
    }
    .card {
        padding: 12px;
        margin: 0;
    }
    fieldset {
        width: 50%;
        height: 100px;
        padding-right: 20px;
        margin-left: 20px;
        padding-top: 12px;
    }
    fieldset legend {
        font-size: 12px;
    }
    .card span {
        font-size: 8px;
        margin-bottom: 0;
        line-height: 17px;
    }    
    .card span i {
        height: 30px;
    }
    .why-twanty h2 {
    font-size: 30px;
    }
    .why-twanty .boxs {
    padding: 0;
    }
    .why-twanty .boxs .pr {
        margin: 0 20px 0 20px;
    }
    .servises .se-sub-titeli {
        padding: 20px;
        font-size: 15px;
    }
    .servises .se-cards {
        display: block;
        padding: 5%;
    }
    .servises .se-cards .se-card {
        width: 100%;
        margin-bottom: 28px;
    }
    .servises .se-cards .cn {
        margin-right: 0;
    }
    .work h2{
        padding: 60px 0 70px;
    }
    .wo-sahp-1 {
    width: 40%;
    opacity: .6;
    }
    .work .wo-boxs {
        display: flow-root;
        padding-bottom: 0px;
    }
    .work .wo-boxs .tr {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
.work .wo-box {
    margin-left: 0;
    margin-bottom: 40px;
}
.work {
    background-position: -19% 74%;
}
.team .sub-team{
    padding: 0 5%;
}
.te-cards {
    padding: 0 10%;
    display: flow-root;
}
.te-card {
    width: 100%;
    margin-bottom: 60px;
}
.client .img-massg{
    top: 12%;
}
.contact-continer{
    display: inline-block;
}
.contact-img img{
    width: 90%;
}
.contact-continer {
    width: 90%;
}
.footer{
    display: flow-root;
    padding: 60px 20px 100px;
}
.fo-twanty {
    width: 100%;
}
.fo-twanty ul li:nth-child(2) {
    font-size: 16px;
}
.fo-twanty ul li:nth-child(3) {
    font-size: 16px;
}
.fo-twanty .social {
    margin: 29px 0;
}
.fo-cent{
    margin: 0;
}
.location{
    margin-top: 30px;
}
.cl-card:nth-child(2) {
    width: 90%;
    height: auto;
}
.cl-card:nth-child(2) p {
    font-size: 17px;
    width: 90%;
    padding-right: 39px;
}
.open-menu{
    display: block;
}
/* web design pag */
.main-conten{
    display: flex;
    padding: 60px 16px 50px;
}
.main-conten .site-heading,.main-conten .img-heading {
    width: 50%;
}
.back_2 {
    width: 21%;
}
.main-conten h2 {
    font-size: 28px;
}
.main-conten span {
    font-size: 11px;
    margin: 20px 0 25px;
}
.main-conten-text-but{
    display: block;
}
.main-conten-text-but button:nth-child(1) {
    margin-bottom: 14px;
}
.main-conten-text-but button {
    width: 50%;
    height: auto;
    font-size: 15px;
}
.img-heading img{
    width: 100%;
    height: auto;
}
.Ellipse {
    width: 70%;
    bottom: -5px;
}
.features-boxs {
    display: block;
     padding: 0; 
}
.features-box{
    width: 100%;
}
.feature{
    margin-bottom: 0;
    padding-bottom: 50px;
}
/* UI/UX pag */
.main-conten.ui-ux  span {
    width: 100%;
}
.main-conten.ui-ux .main-conten-text-but button{
background: #FFFFFF;
}
.ui-ux-servise .features-boxs {
    padding:  0 20px;
}
.ui-ux-card img {
    width: 100%;

}
/* our work web design */
.main-conten-work{
    height: auto;
}
.main-conten-work .text-dark {
    margin-top: 65px;
    padding-bottom: 60px;
}
.work-web.main-conten-work span,.main-conten-work span {
    width: 100%;
}
.work-web-design{
    padding: 30px 20px;
}
.work-web-design-cards {
    display: block;
}
.work-web-design-card {
    margin-bottom: 20px;
    width: 100%;
}
/* our mobile work */
.the-work{
    height: auto;
    text-align: center;
}
.work-mobile.main-conten-work h2{
    font-size: 30px;
} 
.work-mobile.main-conten-work span {
    font-size: 17px;
}

.work-cards{
    display: block;
    padding: 100px 20px;
}
.work-card-bootm{
    margin-right: 0;
}
.work-card{
    width: 100%;
}
/* our UI/UX work */
.work-ui-ux .work-web-design-card{
    width: 100%;
    margin-bottom: 100px;
}
.work-web-design-card img{
    width: 100%;
}
/* Graphic Design  */

.grafic-pag .wrapper-content-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.grafic-pag .wrapper-content-photo {
    width: 50%;
}
.grafic-pag .wrapper-content-photo img {
    width: 100%;
}
.wrapper-content-text-but {
    display: block;
    text-align: start;
   
}
.wrapper-content-text-but button{
    margin-bottom: 15px;
}
.wrapper-content-text .wrapper-content-text-but .but-company-business{
    margin-right: 0;
}
.why-twanty .img-massg-grfc {
    width: 50px;
    margin-top: 25px;
    margin-left: -91px;
}
.why-twanty .img-massg-2, .why-twanty .img-massg-3,.why-twanty .img-massg-4{
    display: none;
}
.app-mobile.wrapper-content .wrapper-content-text {
    width: 50%;
    text-align: start;
    margin-right: 5%;
    margin-top: 50px;
}
.project-receipt.Stage-1::after,.Stage-2 .project-receipt-img::before,
.Stage-2 .project-receipt-img::after,.Stage-3 .project-receipt-img::before,
.Stage-3 .project-receipt-img::after,.Stage-4 .project-receipt-img::before,
.Stage-4 .project-receipt-img::after,.Stage-5 .project-receipt-img::before,.work-map
{
    display: none;
}
.work-map-mobile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work-map-mobile .project-receipt{
margin-left: 20px;
margin-bottom: 50px;

}
/* Final Add */
.grafic-pag .wrapper-content-text {
    width: 50%;
    text-align: start;
    margin-right: 5%;
     margin-bottom: 0%;
}
.wrapper-content.app-mobile {
    margin-top: 25%;
}
}

/* كود يوسف */

.contact-continer .contact-form input[type=submit] {
    background-color: #F0BE40;
    color: #FFFFFF;
    cursor: pointer; 
    font-family: 'Almarai', sans-serif;
}